.Index {

}

.Index__container {
  display: flex;
}

.Index__about {
  flex: 1 1 400px;
  height: 100vh;
  padding: 0 30px;
  background-color: var(--background-alternative);
  color: var(--text-color-alternative);
}

.Index__aboutColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  padding: 40px 0;
  max-width: 360px;
  height: 100%;
  text-align: center;
}

.Index__aboutPic {
  min-width: 100px;
  max-width: 400px;
  width: 60%;
  margin-bottom: 40px;
}

.Index__aboutAvatar {
  width: 100%;
  border-radius: 50%;
}

.Index__aboutTitle {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: var(--fancy-family);
  font-size: 30px;
}

.Index__aboutParagraph {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
}

.Index__aboutRepoLink {
  display: inline-block;
}

.Index__posts {
  flex: 6 2 1000px;
  height: 100vh;
  padding: 0 40px;
  overflow: auto;
}

.Index__postsColumn {
  margin: 40px auto;
  max-width: 100%;
  width: calc(300px + 30%);
}

.Index__postsGuide {
  margin: 0 auto;
  max-width: 600px;
}

/*
About column becomes so narrow that text is hard to read or the viewport is
not tall enough to display all text.
*/
@media (max-width: 660px), (max-height: 800px) {

  .Index__container {
    /* |     |     |            |about|
     * |about|posts| turns into |-----|
     * |     |     |            |posts|
     */
    flex-direction: column;
  }

  .Index__about {
    flex: initial;
    height: initial;
    /* Make about lay out the same way as posts */
    padding: 0 40px;
  }

  .Index__aboutColumn {
    /* Index__about does not have a fixed height anymore */
    min-height: 100vh;
    /* Make about lay out the same way as posts */
    max-width: 600px;
  }

  .Index__aboutPic {
    max-width: 200px;
  }

  .Index__posts {
    flex: initial;
    height: initial;
    /* Index__container becomes scrollable, so posts don't have to scroll */
    overflow: initial;
  }

  .Index__postsColumn {
    width: initial;
  }
}
