.PostHeader {
  position: relative;

  display: flex;
  flex-direction: column;

  min-height: 300px;
}

.PostHeader__navColumn {
  margin: 0 auto;
  padding: 15px 20px;
  width: 100%;
  max-width: var(--column-width-text);
}

.PostHeader__logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: var(--fancy-family);
  text-decoration: none;
}

.PostHeader__titleContainer {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.PostHeader__titleColumn {
  margin: 0 auto;
  width: 100%;
  max-width: var(--column-width-text);
  padding-left: 20px;
  padding-right: 20px;
}

.PostHeader__title {
  margin-top: 80px;
  margin-bottom: 20px;
  color: white;
  font-size: 40px;
  font-family: var(--fancy-family);
}

.PostHeader__author {
  margin-top: 0;
  margin-bottom: 5px;
  color: white;
  font-size: 18px;
}

.PostHeader__date {
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.PostHeader__tags {
  margin-bottom: 30px;
}
