.Tag {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 12px;
  border-radius: 15px;
  font-size: 14px;
  font-family: var(--text-family);
  font-weight: normal;
  text-decoration: none;

  margin-right: 10px;
}

.Tag:last-child {
  margin-right: 0;
}

.Tag--light {
  color: var(--text-color-alternative);
}
