:root {
  --column-width-text: 700px;
  --column-width-layout: 1200px;

  --fancy-color: #353434;
  --fancy-color-strong: #1a1a1a;
  --fancy-family: 'Source Serif Pro', 'Times New Roman', Times, serif;
  --fancy-size: 20px;

  --text-color: #353434;
  --text-color-alternative: #f0f0f0;
  --text-family: sans-serif;
  --text-size: 16px;

  --background: #f0f0f0;
  --background-alternative: #282626;
}
